---
  import SectionHeading from "./SectionHeading.astro"
  import {Language} from "../types";
  import PortfolioCard from "./PortfolioCard.astro";
  import Button from "./Button.astro"
  const {contact} = Astro.props as Language
---

<div class="gap-8 pb-32" id="contact" data-aos="fade-up">
  <SectionHeading>Náš tým</SectionHeading>
  <div class="flex gap-4">
    <div class="bg-white hover:ring-4 ring-0 ring-black p-4 w-full h-full duration-150 mb-4 ring-inset grid place-items-center">
      <img src="/assets/tomaskebrle.jpg" alt="Tomáš kebrle" class="rounded-full w-96">
      <h3 class="text-black font-serif text-4xl my-4">Tomáš Kebrle</h3>
      <p class="text-zinc-600 text-lg mb-12">
        Studuje na GVH Louny, je mu 16 let, a o web-design se už zajímá 4 roky. Mimo to také rád skautuje a držitelem <a href="/assets/dofe_tomas.pdf" class="text-zinc-800 hover:underline">DofE bronzové ceny</a>.
      </p>
    
      <!-- <Button link={link}>
        {shortlink}
      </Button> -->
    </div>
    <div class="bg-white hover:ring-4 ring-0 ring-black p-4 w-full h-full duration-150 mb-4 ring-inset grid place-items-center">
      <img src="/assets/dan.jpg" alt="Daniel Ransdorf" class="rounded-full w-96">
      <h3 class="text-black font-serif text-4xl my-4">Daniel Ransdorf</h3>
      <p class="text-zinc-600 text-lg mb-12">
        Studuje na GVH Louny, je mu 16 let, a o web-design se už zajímá 4 roky. Mimo to také rád skautuje a držitelem <a href="/assets/dofe_tomas.pdf" class="text-zinc-800 hover:underline">DofE bronzové ceny</a>.
      </p>
    
      <!-- <Button link={link}>
        {shortlink}
      </Button> -->
    </div>
  </div>
</div>

<div class="pb-32 w-full" id="contact" data-aos="fade-up">
    <SectionHeading>Kontakt</SectionHeading>
    <p class="text-zinc-600 mb-2">
      Líbí se vám co děláme? Chtěli by jste vytvořit stránku? Tak neváhejte a kontaktujte nás zde nebo nám napište e-mail na <a href="mailto:strankylouny@gmail.com" class="text-zinc-800 hover:underline">strankylouny@gmail.com</a>
    </p>

    <form name="contact" class="w-full" netlify>
      <div class="my-2">
        <label for="email">E-mail na který vás můžeme kontaktovat zpátky:</label>
        <input type="email" name="email" id="email" class="p-2 w-full rounded-lg shadow-sm" placeholder="jmeno@priklad.cz">
      </div>
      <div class="my-2">
        <label for="message">Vaše zpráva:</label>
        <textarea name="message" id="message" rows={10} class="w-full rounded-lg shadow-sm p-2"></textarea>
      </div>
      <div class="my-2">
        <button class="bg-black text-white shadow-sm p-2 hover:bg-zinc-900 duration-300">Odeslat zprávu</button>
      </div>
    </form>
</div>