---
  import Button from "./Button.astro"
  
  interface Props {
    image?: string
    alt?: string,
    heading?:string,
    description?: string,
    link?: string,
    shortlink?: string
  }


  const { image,alt, heading, description, link, shortlink } :Props = Astro.props
---

<a href={link}>
  <div class="bg-white hover:ring-4 ring-0 ring-black p-4 w-full h-full duration-150 mb-4 ring-inset">
    <!-- <img src={image} alt={alt} class=""> -->
    <h3 class="text-black font-serif text-4xl my-4">{heading}</h3>
    <p class="text-zinc-600 text-lg mb-12">
      {description}
    </p>
  
    <Button link={link}>
      {shortlink}
    </Button>
  </div>
</a>