---
  import SectionHeading from "./SectionHeading.astro"
  import {Language} from "../types";
  import PortfolioCard from "./PortfolioCard.astro";
  import Button from "./Button.astro"
  const {contact} = Astro.props as Language
---

<section class="section ff">
    <div id="contact" data-aos="fade-up">
      <h2 class=" text-7xl text-white font-display mb-12 text-center w-full">O nás</h2>
        <div class="flex gap-10 justify-center items-center">
          <div data-tilt data-tilt-max="1" data-tilt-perspective="600"  data-tilt-speed="3800" class="h-full  backdrop-filter w-5/12
          p-10 px-16 flex flex-row justify-between items-center relative member" id="tom">
            <div class="w-5/12 card_text">
               <h3 class="text-4xl font-display font-bold tracking-wider my-4 z-big text-white">Tomáš Kebrle</h3>
            <p class="text-zinc-200 text-md z-lil">
              Studuje Gymnázium v Lounech. Designem webů a grafikou se zabývá už 4 roky. Mimo programování rád skautuje. Je zaslouženým držitelem <a href="/assets/dofe_tomas.pdf" class="text-zinc-300 hover:text-white duration-200"> mezinárodní bronzové ceny vévody z Edinburghu</a>.
            </p> 
            </div>
            
            <img src="/assets/tomaskebrle.jpg" alt="Tomáš kebrle" class="rounded-full h-72"/>
            <!-- <Button link={link}>
              {shortlink}
            </Button> -->
          </div>
          <div data-tilt data-tilt-max="1" data-tilt-perspective="600" data-tilt-speed="3800" class="h-full  backdrop-filter w-5/12
           p-10 px-16 flex flex-row justify-between items-center relative member" id="dan">
            <div class="w-5/12 card_text">
               <h3 class="text-4xl font-display text-white font-bold tracking-wider my-4 z-big">Daniel Ransdorf</h3>
            <p class="text-zinc-200 text-md z-lil">
                Studuje na Gymnáziu v Lounech. V programování se pohybuje 3 roky a na weby se specializuje rok. Ve volném čase rád sportuje. Prošel 
                <a href="/assets/dofe_tomas.pdf" class="text-zinc-300 hover:text-white duration-200">vyhlášeným kurzem od Jonase Schmedtmanna</a> 
                a drží 
                <a href="/assets/dofe_tomas.pdf" class="text-zinc-300 hover:text-white duration-200"> mezinárodní bronzovou cenu DofE</a>.
            </p> 
            </div>
            
            <img src="/assets/dan.jpg" alt="Daniel Ransdorf" class="rounded-full h-72"/>
            <!-- <Button link={link}>
              {shortlink}
            </Button> -->
          </div>
          <!-- <div class="bg-white hover:ring-4 ring-0 ring-black p-4 w-full h-full duration-150 mb-4 ring-inset grid place-items-center">
            <img src="/assets/dan.jpg" alt="Daniel Ransdorf" class="rounded-full w-96">
            <h3 class="text-black font-serif text-4xl my-4">Daniel Ransdorf</h3>
            <p class="text-zinc-600 text-lg mb-12">
              Studuje na GVH Louny, je mu 16 let, a o web-design se už zajímá 4 roky. Mimo to také rád skautuje a držitelem <a href="/assets/dofe_tomas.pdf" class="text-zinc-800 hover:underline">DofE bronzové ceny</a>.
            </p>
          
            
          </div>
        </div> -->
      </div>
      <style>
        .ff{
          display:flex;
          justify-content:center;
          align-items: center;
        }
       .member{
        background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.25);
       }
         .z-big{
            transform: translateZ(50px);
        }
        .z-lil{
            transform: translateZ(35px);
        } 
    

      </style>
      <script>
        import VanillaTilt from "vanilla-tilt";
        VanillaTilt.init(document.querySelector("#tom"), {
        max: 4,
        speed: 500,
        reverse:true
    });
    VanillaTilt.init(document.querySelector("#dan"), {
        max: 8,
        speed: 500,
        reverse:true
    });
      </script>
      </section>
